body {
  font-size: 16px;
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.title {
  margin: 0;
}

.logo {
  margin: auto;
  width: 100%;
  text-align: center;
}
.date,
.editor {
  font-size: 0.875rem;
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-weight: bold;
  margin: 0;
}

.inputs {
  width: 80vw;
  max-width: 290px;
}

.center {
  width: 90%;
  margin: 5px auto;
}

.correctGuesses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: solid 1px #ccc;
  padding: 4px 16px;
}

.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.guess-letters {
  font-size: 2rem;
}

.honeycomb {
  position: relative;
  height: 275px;
}

.cell {
  position: absolute;
  top: 33.3333333333%;
  left: 30%;
  width: 40%;
  height: 33.3333333333%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.cell:nth-child(1) {
  transform: translate(0, 0);
}

.cell:nth-child(2) {
  transform: translate(-50%, -110%);
}

.cell:nth-child(3) {
  transform: translate(50%, -110%);
}

.cell:nth-child(4) {
  transform: translate(100%, -10%);
}

.cell:nth-child(5) {
  transform: translate(50%, 90%);
}

.cell:nth-child(6) {
  transform: translate(-50%, 90%);
}

.cell:nth-child(7) {
  transform: translate(-100%, -10%);
}

.cell-letter {
  font-weight: 500;
  font-size: 1.875em;
  text-anchor: middle;
  fill: #ffffff;
  pointer-events: none;
}

.center-letter {
  width: 60%;
  height: 60%;
  left: 20%;
  top: 45px;
}

.center-letter .cell-fill {
  cursor: pointer;
  fill: #3b6452;
  transition: all 100ms;

}

.outer-letter .cell-fill {
  cursor: pointer;
  fill: #bc8906;
  transition: all 100ms;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 5.5em;
  min-width: 5.5em;
  height: 3em;
  background-color: #fff;
  font-size: 1em;
  margin: 0 8px;
  color: #333;
  border: 1px solid #dcdcdc;
  border-radius: 2.5em;
  letter-spacing: .01em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-block-start: 1rem;
  font-family: "Noto Sans Arabic", sans-serif;
}


a.open::after {

  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  content: "";
  border-bottom-width: 0;
  border-color: #baa51a transparent  transparent transparent ;
  position: relative;
  top: 50%;
  margin-top: -6px;
  content: ' ';
}
a.close::after {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  content: "";
  border-top-width: 0;
  border-color: transparent transparent #baa51a transparent;
  position: absolute;
  margin-top: -6px;
}

.toasts-wrapper {
  position: absolute;
  top: 25%;
  right: 40%;

}

.toast {
  border: 2px solid transparent;
  background-color: #fafafa;
  border-radius: 4px;
  max-width: 480px;
  width: 333px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  margin-top: 16px;
  display: flex;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.toast__text {
  padding: 16px 24px;
  line-height: 1.4;
}

.toast__close-btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.modal {
  position: relative;
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}
.modal-close-btn {
  font-size: .75em;
  position: absolute;
  top: .25em;
  right: .25em;
}
.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}